/* custom template */
html, body {
   height: 100%;
   font-family:verdana,arial,sans-serif;
   color:#555555;
}

.nav {
   font-family:Arial,sans-serif;
   font-size:13px;
}

a {
  color:#222222;
}

a:hover {
  text-decoration:none;
  color:#149c82;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.full{
	padding-top:70px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color:#444444;
  /*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}

.divider {
	margin-top:32px;
}

.navbar-green {
    border-width:0;
	background-color:#149c82;
    color:#ffffff;
    font-family:arial,sans-serif;
    top:0;
    position:fixed;
    width:inherit;
}

.navbar-green li > a,.navbar-toggle  {
   color:#efefef;
}

.dropdown {
    padding-right: 30px;
}

.navbar-green .dropdown-menu li a {color:#18bc9c;}
.navbar-green .dropdown-menu li > a {padding-left:30px;}

.navbar-green li>a:hover, .navbar-green li>a:focus, .navbar-green .open, .navbar-green .open>a, .navbar-green .open>a:hover, .navbar-green .open>a:focus {
   background-color:#18bc9c;
   color:#fff;
}

#main {
   background-color:#e9eaed;
   padding-left:0;
   padding-right:0;
}
#main .img-circle {
   margin-top:18px;
   height:70px;
   width:70px;
}

.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#149c82;
  height:28px;
  width:112px;
  margin:9px;
  margin-right:2px;
  margin-left:15px;
  font-size:20px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  border-radius:2px;
}

/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
}

.navbar-toggle, .close {
	outline:0;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
	background-color:#149c82;
    color:#fffffe;
    border-color:#149c82;
}

.btn-primary:hover {
    background-color:#18bc9c;
    border-color:#149c82;
}

input[type="text"]:focus, .uneditable-input:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="textarea"]:focus {   
  border-color: #18bc9c;
}

.btn-default {
    color:#666666;
    text-shadow:0 0 1px rgba(0,0,0,.3);
}

.panel textarea, .well textarea, textarea.form-control
{
   resize: none;
}
  
.badge{
   color:#149c82;
   background-color:#fff;
}
.badge:hover, .badge-inverse{
   background-color:#18bc9c;
   color:#fff;
}
    
.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.panel-default .panel-heading {
  background-color:#f9fafb;
  color:#555555;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

  .column .padding {
    padding: 7px;
  }

  .full{
	padding-top:20px;
  }

  .navbar-green {
	background-color:#149c82;
    top:0;
    width:100%;
    position:relative;
  }

}

::selection {
  background: #18bc9c; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #18bc9c; /* Gecko Browsers */
}

.pagination.custom > li > a {
    color: #149c82;
}

.pagination.custom > li > a:hover, 
.pagination.custom > li > a:focus {
    background: #149c82;
    color: white;
}

.pagination.custom > li.active > a,
.pagination.custom > li.active > span {
    background: #149c82;
    border: #149c82;
    color: white;
}

.pagination.custom > li.disabled > a:hover,
.pagination.custom > li.disabled > a:focus {
    color: #149c82;
    background: none;
}